/* Fonte */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* Cores Gerais */
:root {
	--light-color: #bae8e8;
	--secundary-color: #2c698d;
	--dark-color: #272643;
}

/* Cards na parte superior da página do admin */
.grid {
	margin: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 80px;
	align-items: center;
}

.grid > article {
	background: var(--light-color);
	border: none;
	box-shadow: 2px 2px 6px 0px rgba(var(--dark-color), 3);
	border-radius: 20px;
	text-align: center;
	width: 250px;
	transition: transform 0.3s;
}

.grid > article:hover {
	transform: translateY(5px);
	box-shadow: 2px 2px 6px 0px rgba(var(--dark-color), 3);
}

.grid > article img {
	width: 40%;
	height: auto;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

p {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: var(--dark-color);
	text-decoration: none !important;
	margin-left: 20px;
	margin-right: 20px;
}

h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: var(--dark-color);
	text-decoration: none !important;
}

.cardButton {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: var(--secundary-color);
	text-decoration: none !important;
	margin-bottom: 20px;
}
